---
---

// include css from _paralax.scss

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 1010px;
}

header {
  width: 250px;
}

section {
  width: 700px;
}

body {
  color: black;
  // background-color: #f5f5f5; /* Light Dirty White */
  // mute yellow background
  background-color: #fff9e6;
  font-family: "Inter", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

footer {
  width: 250px;
  text-align: center;
  background-color: transparent; /* Soft neutral background */
}

p {
  margin-bottom: 0;
}

.am-card {
  background-color: #fff; /* Icon background color */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 4px 4px 0px #000; /* Brutalist thick shadow */
  border: 2px solid #000; /* Bold black border */
}

.am-card .card-thumbnail {
  flex: 1; /* Takes up 50% of the card's width */
  // max-width: 50%; /* Limits thumbnail width to 50% */
}

.am-card .card-thumbnail img {
  width: 100%;
  height: auto; /* Keeps the aspect ratio */
  display: block;
}

.am-card .card-content {
  flex: 1; /* Takes up the remaining 50% */
  padding: 1rem; /* Spacing between thumbnail and content */
}

// am card horizontal
.am-card-horizontal {
  background-color: #fff; /* Icon background color */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 4px 4px 0px #000; /* Brutalist thick shadow */
  border: 2px solid #000; /* Bold black border */
}

.am-card-horizontal .card-thumbnail {
  flex: 1; /* Takes up 50% of the card's width */
  // max-width: 50%; /* Limits thumbnail width to 50% */
}

.am-card-horizontal .card-thumbnail img {
  width: 100%;
  height: 100px;
  height: auto; /* Keeps the aspect ratio */
  display: block;
}

.am-card-horizontal .card-content {
  flex: 1; /* Takes up the remaining 50% */
  padding: 1rem; /* Spacing between thumbnail and content */
}

.projects-grid {
  .card-content {
    // border-left: solid 2px #545454;
  }
}

/* Social links container */
.social-links a {
  display: inline-flex; /* Align icon and text side-by-side */
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  background-color: transparent;
  border: 2px solid #000;
  box-shadow: 2px 2px 0 #000; /* Brutalist shadow */
  border-radius: 0.6rem; /* Slight rounding */
  padding: 10px 20px;
  transition: transform 0.2s ease-in-out;
}

/* Hover effect for social links */
.social-links a:hover {
  // transform: translate(-3px, -3px); /* Neo-brutalist hover effect */
}

/* Icon styling */
.social-links a i {
  font-size: 20px; /* Icon size */
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Optional individual icon colors */
.social-links a i.fab.fa-github {
  color: #000; /* CodePen black */
  // color: #333; /* GitHub dark color */
}

.social-links a i.fab.fa-linkedin {
  color: #000; /* CodePen black */
  // color: #0e76a8; /* LinkedIn blue */
}

.social-links a i.fab.fa-codepen {
  color: #000; /* CodePen black */
}

.neo-brutal-button {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #000; /* Hard border */
  box-shadow: none; /* No shadow initially */
  border-radius: 0.5rem; /* Slight rounding for Neo-Brutalist look */
  display: inline-block; /* Ensures consistent button appearance */
  // padding: 10px 20px; /* Adds padding for button size */
  box-shadow: 2px 2px 0 #000; /* Shadow appears only on hover */
  text-align: center;
}

.neo-brutal-button:hover {
  color: #000;
}

.neo-brutal-button:focus {
  color: #000;
  // outline: none;
  // border-color: #ff6347; /* Optional focus color */
}

// bg: orange
.orange-1 {
  background-color: #ffecc8; /* Muted Orange-Red */
  // color: #000; /* Black text for contrast */
}

.orange-2 {
  background-color: #ffecc8; /* Soft Terracotta */
  // color: #000;
}

.orange-3 {
  background-color: #ffd09b; /* Rusty Red */
  // color: #fff; /* White text for better readability */
}

.orange-4 {
  background-color: #fcbc74;
}

.orange-5 {
  background-color: #ffb0b0;
}

// hover effects
.hover-orange:hover {
  background-color: #ffecc8 !important;
}

.hover-email:hover {
  // use mute gmail logo color
  background-color: #ffecc8 !important;
}

.hover-github:hover {
  // use mute github logo color
  background-color: #bacaff !important;
}

.hover-linkedin:hover {
  // use mute linkedin logo color
  background-color: #c8e6ff !important;
}

.hover-codepen:hover {
  // use mute codepen logo color
  background-color: #b1b1b1 !important;
}

// active nav
.active-nav {
  background-color: #ffd09b;
}

// hover effects
.nav-hover-orange:not(.active-nav):hover {
  background-color: #ffecc8 !important;
}

/* General button styling */
#playButton {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  position: relative; /* For tooltip positioning */
  color: #f7dfb2;
}

/* Icon styling */
#icon {
  font-size: 1rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Enlarged and swaying pause icon */
.fa-pause {
  font-size: 2rem !important;
  color: #ff5722; /* Bright color for visibility */
  animation: sway 1.5s infinite; /* Swaying animation */
}

.audioIsPlaying {
  font-size: 2rem !important;
  color: #ff5722; /* Bright color for visibility */
  animation: sway 1.5s infinite; /* Swaying animation */
}

/* Sway animation */
@keyframes sway {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Tooltip styling */
#playButton[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 50%; /* Vertically center */
  left: 100%; /* To the right of the button */
  transform: translateY(-50%) translateX(10px); /* Add spacing */
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

/* Tooltip visibility on hover */
#playButton:hover::after {
  opacity: 1;
}

// project
.project-image-container {
  position: relative; /* Set position to allow ::after to work */
  overflow: hidden; /* Prevents the image from overflowing the container */
  display: flex;
  justify-content: center;
  align-items: center; /* Ensures the image is centered inside the container */
}

.project-image-container img {
  max-height: 100%; /* Ensure the image respects the container's height */
  max-width: 100%; /* Ensure the image respects the container's width */
  height: auto; /* Maintain the aspect ratio */
  width: auto; /* Maintain the aspect ratio */
  display: block; /* Prevent inline spacing issues */
  object-fit: contain; /* Ensure the image fits without cropping */
}

.project-image-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 95%; /* The pattern starts from 70% of the container width */
  background: repeating-linear-gradient(
    -20deg,
    /* Angle of the lines */ rgba(50, 50, 50, 0.8) 0px,
    /* Solid dark line starts */ rgba(50, 50, 50, 0.8) 3px,
    /* Solid dark line ends */ transparent 3px,
    /* Transparent gap starts */ transparent 5px /* Transparent gap ends */
  );
  pointer-events: none; /* Ensure it doesn’t block interactions */
  z-index: 1; /* Ensure it appears above the image */
}

.text-gray {
  color: #575757;
}

.am-tech-tag {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.7rem;
  border: 2px solid #000; /* Hard border */
  box-shadow: none; /* No shadow initially */
  border-radius: 2rem; /* Slight rounding for Neo-Brutalist look */
  display: inline-block; /* Ensures consistent button appearance */
  // padding: 10px 20px; /* Adds padding for button size */
  padding: 0.3rem 0.6rem;
  // box-shadow: 2px 2px 0 #000; /* Shadow appears only on hover */
  text-align: center;
  margin-right: 2px;
  margin-bottom: 4px;
}

.am-tech-tag-sub {
  background-color: #fff;
  color: #6b6b6b;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.7rem;
  border: 2px solid #858585; /* Hard border */
  box-shadow: none; /* No shadow initially */
  border-radius: 2rem; /* Slight rounding for Neo-Brutalist look */
  display: inline-block; /* Ensures consistent button appearance */
  // padding: 10px 20px; /* Adds padding for button size */
  padding: 0.3rem 0.6rem;
  // box-shadow: 2px 2px 0 #000; /* Shadow appears only on hover */
  text-align: center;
  margin-right: 2px;
  margin-bottom: 4px;
}
