---
---

:root {
  --text-color: #495057;
  --text-color-secondary: #6c757d;
  --border-radius: 6px;
  --primary-color: #3b82f6;
  --primary-color-text: #ffffff;
  --surface-ground: #eff3f8;
  --surface-section: #ffffff;
  --surface-card: #ffffff;
  --surface-overlay: #ffffff;
  --surface-border: #dfe7ef;
  --surface-hover: #f6f9fc;
  --surface-0: #ffffff;
  --surface-50: #fafafa;
  --surface-100: #f5f5f5;
  --surface-200: #eeeeee;
  --surface-300: #e0e0e0;
  --surface-400: #bdbdbd;
  --surface-500: #9e9e9e;
  --surface-600: #757575;
  --surface-700: #616161;
  --surface-800: #424242;
  --surface-900: #212121;
  --blue-50: #f5f9ff;
  --blue-100: #d0e1fd;
  --blue-200: #abc9fb;
  --blue-300: #85b2f9;
  --blue-400: #609af8;
  --blue-500: #3b82f6;
  --blue-600: #326fd1;
  --blue-700: #295bac;
  --blue-800: #204887;
  --blue-900: #183462;
  --green-50: #f4fcf7;
  --green-100: #caf1d8;
  --green-200: #a0e6ba;
  --green-300: #76db9b;
  --green-400: #4cd07d;
  --green-500: #22c55e;
  --green-600: #1da750;
  --green-700: #188a42;
  --green-800: #136c34;
  --green-900: #0e4f26;
  --yellow-50: #fefbf3;
  --yellow-100: #faedc4;
  --yellow-200: #f6de95;
  --yellow-300: #f2d066;
  --yellow-400: #eec137;
  --yellow-500: #eab308;
  --yellow-600: #c79807;
  --yellow-700: #a47d06;
  --yellow-800: #816204;
  --yellow-900: #5e4803;
  --cyan-50: #f3fbfd;
  --cyan-100: #c3edf5;
  --cyan-200: #94e0ed;
  --cyan-300: #65d2e4;
  --cyan-400: #35c4dc;
  --cyan-500: #06b6d4;
  --cyan-600: #059bb4;
  --cyan-700: #047f94;
  --cyan-800: #036475;
  --cyan-900: #024955;
  --pink-50: #fef6fa;
  --pink-100: #fad3e7;
  --pink-200: #f7b0d3;
  --pink-300: #f38ec0;
  --pink-400: #f06bac;
  --pink-500: #ec4899;
  --pink-600: #c93d82;
  --pink-700: #a5326b;
  --pink-800: #822854;
  --pink-900: #5e1d3d;
  --indigo-50: #f7f7fe;
  --indigo-100: #dadafc;
  --indigo-200: #bcbdf9;
  --indigo-300: #9ea0f6;
  --indigo-400: #8183f4;
  --indigo-500: #6366f1;
  --indigo-600: #5457cd;
  --indigo-700: #4547a9;
  --indigo-800: #363885;
  --indigo-900: #282960;
  --teal-50: #f3fbfb;
  --teal-100: #c7eeea;
  --teal-200: #9ae0d9;
  --teal-300: #6dd3c8;
  --teal-400: #41c5b7;
  --teal-500: #14b8a6;
  --teal-600: #119c8d;
  --teal-700: #0e8174;
  --teal-800: #0b655b;
  --teal-900: #084a42;
  --orange-50: #fff8f3;
  --orange-100: #feddc7;
  --orange-200: #fcc39b;
  --orange-300: #fba86f;
  --orange-400: #fa8e42;
  --orange-500: #f97316;
  --orange-600: #d46213;
  --orange-700: #ae510f;
  --orange-800: #893f0c;
  --orange-900: #642e09;
  --bluegray-50: #f7f8f9;
  --bluegray-100: #dadee3;
  --bluegray-200: #bcc3cd;
  --bluegray-300: #9fa9b7;
  --bluegray-400: #818ea1;
  --bluegray-500: #64748b;
  --bluegray-600: #556376;
  --bluegray-700: #465161;
  --bluegray-800: #37404c;
  --bluegray-900: #282e38;
  --purple-50: #fbf7ff;
  --purple-100: #ead6fd;
  --purple-200: #dab6fc;
  --purple-300: #c996fa;
  --purple-400: #b975f9;
  --purple-500: #a855f7;
  --purple-600: #8f48d2;
  --purple-700: #763cad;
  --purple-800: #5c2f88;
  --purple-900: #432263;
  --red-50: #fff5f5;
  --red-100: #ffd0ce;
  --red-200: #ffaca7;
  --red-300: #ff8780;
  --red-400: #ff6259;
  --red-500: #ff3d32;
  --red-600: #d9342b;
  --red-700: #b32b23;
  --red-800: #8c221c;
  --red-900: #661814;
  --primary-50: #f5f9ff;
  --primary-100: #d0e1fd;
  --primary-200: #abc9fb;
  --primary-300: #85b2f9;
  --primary-400: #609af8;
  --primary-500: #3b82f6;
  --primary-600: #326fd1;
  --primary-700: #295bac;
  --primary-800: #204887;
  --primary-900: #183462;
  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #eeeeee;
  --gray-300: #e0e0e0;
  --gray-400: #bdbdbd;
  --gray-500: #9e9e9e;
  --gray-600: #757575;
  --gray-700: #616161;
  --gray-800: #424242;
  --gray-900: #212121;
  color-scheme: light;
}

// include css from _paralax.scss

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 1010px;
}

header {
  width: 250px;
  padding-top: 3rem;
}

.am-right-section {
  padding-top: 3rem;
  width: 700px;
  border-left: solid 2px black;
  padding-left: 30px;
}

body {
  color: black;
  // background-color: #f5f5f5; /* Light Dirty White */
  // mute yellow background
  background-color: #fff9e6;
  font-family: "Inter", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  padding: 0 !important;
  margin: 0 !important;
}

footer {
  width: 250px;
  text-align: center;
  background-color: transparent; /* Soft neutral background */
}

p {
  margin-bottom: 0;
}

.am-card {
  background-color: #fff; /* Icon background color */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 4px 4px 0px #000; /* Brutalist thick shadow */
  border: 2px solid #000; /* Bold black border */
}

.am-card .card-thumbnail {
  flex: 1; /* Takes up 50% of the card's width */
  // max-width: 50%; /* Limits thumbnail width to 50% */
}

.am-card .card-thumbnail img {
  width: 100%;
  height: auto; /* Keeps the aspect ratio */
  display: block;
}

.am-card .card-content {
  flex: 1; /* Takes up the remaining 50% */
  padding: 1rem; /* Spacing between thumbnail and content */
}

/* Logos positioned behind the card */
.tech-logos {
  background: red;
  position: absolute;
  top: 10px; /* Position the logos fully behind the card initially */
  left: 0;
  display: flex;
  gap: 1px; /* Space between logos */
  transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out,
    transform 0.4s ease-in-out;
  opacity: 0.8; /* Slightly visible while peeking */
  z-index: -1; /* Ensure it stays behind the card */
  transform: scale(0.8); /* Start smaller */
}

/* Individual logo styling */
.tech-logo {
  width: 40px;
  height: auto;
}

/* On hover: Logos peek out and scale up */
.am-card:hover .tech-logos {
  top: -40px; /* Move the logos to peek out from the top */
  opacity: 1; /* Make them fully visible */
  transform: scale(1); /* Scale to full size */
}

/* On hover out: Logos scale down and return */
.am-card:not(:hover) .tech-logos {
  top: 10px; /* Fully hide the logos again */
  opacity: 0.8;
  transform: scale(0.8); /* Scale back to smaller size */
}

// am card horizontal
.am-card-horizontal {
  background-color: #fff; /* Icon background color */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 4px 4px 0px #000; /* Brutalist thick shadow */
  border: 2px solid #000; /* Bold black border */
}

.am-card-horizontal .card-thumbnail {
  flex: 1; /* Takes up 50% of the card's width */
  // max-width: 50%; /* Limits thumbnail width to 50% */
}

.am-card-horizontal .card-thumbnail img {
  width: 100%;
  height: 100px;
  height: auto; /* Keeps the aspect ratio */
  display: block;
}

.am-card-horizontal .card-content {
  flex: 1; /* Takes up the remaining 50% */
  padding: 1rem; /* Spacing between thumbnail and content */
}

.projects-grid {
  .card-content {
    // border-left: solid 2px #545454;
  }
}

/* Social links container */
.social-links a {
  display: inline-flex; /* Align icon and text side-by-side */
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  background-color: transparent;
  border: 2px solid #000;
  box-shadow: 2px 2px 0 #000; /* Brutalist shadow */
  border-radius: 0.6rem; /* Slight rounding */
  padding: 10px 20px;
  transition: transform 0.2s ease-in-out;
}

/* Hover effect for social links */
.social-links a:hover {
  // transform: translate(-3px, -3px); /* Neo-brutalist hover effect */
}

/* Icon styling */
.social-links a i {
  font-size: 20px; /* Icon size */
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Optional individual icon colors */
.social-links a i.fab.fa-github {
  color: #000; /* CodePen black */
  // color: #333; /* GitHub dark color */
}

.social-links a i.fab.fa-linkedin {
  color: #000; /* CodePen black */
  // color: #0e76a8; /* LinkedIn blue */
}

.social-links a i.fab.fa-codepen {
  color: #000; /* CodePen black */
}

.neo-brutal-button {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #000; /* Hard border */
  box-shadow: none; /* No shadow initially */
  border-radius: 0.5rem; /* Slight rounding for Neo-Brutalist look */
  display: inline-block; /* Ensures consistent button appearance */
  // padding: 10px 20px; /* Adds padding for button size */
  box-shadow: 2px 2px 0 #000; /* Shadow appears only on hover */
  text-align: center;
}

.neo-brutal-button:hover {
  color: #000;
}

.neo-brutal-button:focus {
  color: #000;
  // outline: none;
  // border-color: #ff6347; /* Optional focus color */
}

// bg: orange
.orange-1 {
  background-color: #ffecc8; /* Muted Orange-Red */
  // color: #000; /* Black text for contrast */
}

.orange-2 {
  background-color: #ffecc8; /* Soft Terracotta */
  // color: #000;
}

.orange-3 {
  background-color: #ffd09b; /* Rusty Red */
  // color: #fff; /* White text for better readability */
}

.orange-4 {
  background-color: #fcbc74;
}

.orange-5 {
  background-color: #ffb0b0;
}

// hover effects
.hover-orange:hover {
  background-color: #ffecc8 !important;
}

.hover-email:hover {
  // use mute gmail logo color
  background-color: #ffecc8 !important;
}

.hover-github:hover {
  // use mute github logo color
  background-color: #bacaff !important;
}

.hover-linkedin:hover {
  // use mute linkedin logo color
  background-color: #c8e6ff !important;
}

.hover-codepen:hover {
  // use mute codepen logo color
  background-color: #b1b1b1 !important;
}

// active nav
.active-nav {
  background-color: #ffd09b;
}

// hover effects
.nav-hover-orange:not(.active-nav):hover {
  background-color: #ffecc8 !important;
}

/* General button styling */
#playButton {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  position: relative; /* For tooltip positioning */
  color: #f7dfb2;
}

/* Icon styling */
#icon {
  font-size: 1rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Enlarged and swaying pause icon */
.fa-pause {
  font-size: 2rem !important;
  color: #ff5722; /* Bright color for visibility */
  animation: sway 1.5s infinite; /* Swaying animation */
}

.audioIsPlaying {
  font-size: 2rem !important;
  color: #ff5722; /* Bright color for visibility */
  animation: sway 1.5s infinite; /* Swaying animation */
}

/* Sway animation */
@keyframes sway {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Tooltip styling */
#playButton[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 50%; /* Vertically center */
  left: 100%; /* To the right of the button */
  transform: translateY(-50%) translateX(10px); /* Add spacing */
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

/* Tooltip visibility on hover */
#playButton:hover::after {
  opacity: 1;
}

// project
.project-image-container {
  position: relative; /* Set position to allow ::after to work */
  overflow: hidden; /* Prevents the image from overflowing the container */
  display: flex;
  justify-content: center;
  align-items: center; /* Ensures the image is centered inside the container */
}

.project-image-container img {
  max-height: 100%; /* Ensure the image respects the container's height */
  max-width: 100%; /* Ensure the image respects the container's width */
  height: auto; /* Maintain the aspect ratio */
  width: auto; /* Maintain the aspect ratio */
  display: block; /* Prevent inline spacing issues */
  object-fit: contain; /* Ensure the image fits without cropping */
}

.project-image-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 95%; /* The pattern starts from 70% of the container width */
  background: repeating-linear-gradient(
    -20deg,
    /* Angle of the lines */ rgba(50, 50, 50, 0.8) 0px,
    /* Solid dark line starts */ rgba(50, 50, 50, 0.8) 3px,
    /* Solid dark line ends */ transparent 3px,
    /* Transparent gap starts */ transparent 5px /* Transparent gap ends */
  );
  pointer-events: none; /* Ensure it doesn’t block interactions */
  z-index: 1; /* Ensure it appears above the image */
}

.text-gray {
  color: #575757;
}

.am-tech-tag {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.7rem;
  border: 2px solid #000; /* Hard border */
  box-shadow: none; /* No shadow initially */
  border-radius: 2rem; /* Slight rounding for Neo-Brutalist look */
  display: inline-block; /* Ensures consistent button appearance */
  // padding: 10px 20px; /* Adds padding for button size */
  padding: 0.3rem 0.6rem;
  // box-shadow: 2px 2px 0 #000; /* Shadow appears only on hover */
  text-align: center;
  margin-right: 2px;
  margin-bottom: 4px;
}

.am-tech-tag-sub {
  background-color: #fff;
  color: #6b6b6b;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.7rem;
  border: 2px solid #858585; /* Hard border */
  box-shadow: none; /* No shadow initially */
  border-radius: 2rem; /* Slight rounding for Neo-Brutalist look */
  display: inline-block; /* Ensures consistent button appearance */
  // padding: 10px 20px; /* Adds padding for button size */
  padding: 0.3rem 0.6rem;
  // box-shadow: 2px 2px 0 #000; /* Shadow appears only on hover */
  text-align: center;
  margin-right: 2px;
  margin-bottom: 4px;
}
