---
---

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 1160px;
}

header {
  width: 360px;
  padding-right: 20px;
}

section {
  width: 800px;
}

body {
  color: black;
  background-color: #f5f5f5; /* Light Dirty White */
  font-family: "Inter", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4; /* Soft neutral background */
}

.social-links a {
  display: inline-block;
  margin: 0 5px;
  text-decoration: none;
}

.social-links a i {
  font-size: 20px; /* Make the icons large */
  width: 40px; 
  height: 40px;
  background-color: #fff; /* Icon background color */
  border-radius: 50%; /* Make the icons circular */
  display: flex;
  align-items: center;
  justify-content: center;
  // box-shadow: 2px 2px 0px #000; /* Brutalist thick shadow */
  border: 2px solid #000; /* Bold black border */
  transition: transform 0.2s ease-in-out;
}

.social-links a i:hover {
  transform: translate(-3px, -3px); /* Create a rough hover effect */
}

.social-links a i:active {
  transform: translate(2px, 2px); /* Press-down effect */
}

/* Individual icon colors (optional) */
.social-links a i.fab.fa-github {
  // color: #333; /* GitHub dark color */
}

.social-links a i.fab.fa-linkedin {
  // color: #0e76a8; /* LinkedIn blue */
}

.social-links a i.fab.fa-codepen {
  // color: #000; /* CodePen black */
}

footer p {
  margin-top: 20px;
  color: #000;
  font-weight: bold;
}
