<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="icon" id="favicon" href="assets/images/favicon_io/favicon.ico" type="image/x-icon">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

    <!-- other meta tags and styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/neobrutalismcss@latest" /> -->
    <link rel="stylesheet" href="https://unpkg.com/primeflex@latest/primeflex.css">
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  </head>
  <body>
    <!-- main -->
    <div class="flex flex-column lg:flex-row min-h-screen">
      <!-- Part A -->
      <div class="flex md:flex-row lg:flex-column lg:flex-grow-1 lg:sticky lg:top-0 lg:h-screen" style="background-color: #fef3d3">
        <!-- Part A1 -->
        <div class="flex flex-column align-items-end h-min sm:w-6 md:w-6 lg:w-full" style="background-color: #fff3cf">
          <!-- Title -->
          <div class="w-full lg:w-18rem xl:w-20rem">
            <div class="pt-5 px-5">
              {% if site.logo %}
                <img class="border-3 border-round-2xl" src="{{site.logo | relative_url}}" alt="Logo" />
              {% endif %}

              <h1 class="mb-1 sm:text-center md:text-left lg:text-center"><a href="{{ "/" | absolute_url }}" style="font-size: 1.8rem" class="font-bold text-black-alpha-90">{{ site.title | default: site.github.repository_name }}</a></h1>

              <p class="font-medium text-md text-black-alpha-90 sm:text-center md:text-left lg:text-center">{{ site.description | default: site.github.project_tagline }}</p>
            </div>
          </div>
          <!-- nav -->
          <div class="w-full lg:w-18rem xl:w-20rem">
            <!-- First Set of Buttons -->
            <nav id="nav-buttons" class="sm:p-3 md:p-3 md:pl-5 lg:p-5">
              <div class="flex flex-column sm:flex-row sm:justify-content-center md:justify-content-start lg:flex-column gap-2 nav-links">
                <a href="#about" class="neo-brutal-button p-2 active-nav nav-hover-blue">About</a>
                <a href="#skills" class="neo-brutal-button p-2 nav-hover-blue">Skills</a>
                <a href="#professional-experience" class="neo-brutal-button p-2 nav-hover-blue"><span class="md:hidden">Professional</span>Experience</a>
                <a href="#projects" class="neo-brutal-button p-2 nav-hover-blue">Projects</a>
                <!-- <a href="#education" class="neo-brutal-button p-2 nav-hover-blue">Education</a> -->
              </div>
            </nav>
          </div>
        </div>
        <!-- Part A2 -->
        <div class="flex flex-column align-items-end justify-content-end sm:w-6 md:w-6 lg:w-full lg:border-top-2 lg:h-full">
          <!-- social links -->
          <div 
            class="w-full lg:w-18rem xl:w-20rem"
          >
            <div class="sm:p-3 sm:pt-0 md:p-3 md:pr-5 md:pt-0 lg:p-5">
              <div class="flex flex-column sm:flex-row sm:justify-content-center md:justify-content-end lg:flex-column gap-2 social-links">
                {% if site.email %}
                <a href="mailto:{{ site.email }}" class="p-1 py-0 text-sm flex align-items-center social-link-email hover-email">
                  <i class="fas fa-envelope"></i>
                  <span class="ml-0 hidden lg:inline">{{ site.email_label }}</span>
                </a>
                {% endif %}
            
                {% if site.github_url %}
                <a href="{{ site.github_url }}" target="_blank" class="p-1 py-0 text-sm social-link-github hover-github">
                  <i class="fab fa-github"></i>
                  <span class="ml-0 hidden lg:inline">{{ site.github_label }}</span>
                </a>
                {% endif %}
                
                {% if site.linkedin_url %}
                <a href="{{ site.linkedin_url }}" target="_blank" class="p-1 py-0 text-sm social-link-linkedin hover-linkedin">
                  <i class="fab fa-linkedin"></i>
                  <span class="ml-0 hidden lg:inline">{{ site.linkedin_label }}</span>
                </a>
                {% endif %}
                
                <div class="flex gap-2 sm:flex-row lg:flex-wrap ">
                  {% if site.codepen_url %}
                  <a href="{{ site.codepen_url }}" target="_blank" class="p-1 py-0 text-sm social-link-codepen hover-codepen flex-1 basis-1/2 max-w-1/2">
                    <!-- Icon only on lg screens -->
                    <i class="fab fa-codepen"></i>
                    <!-- Label hidden on lg screens -->
                    <span class="ml-0 hidden lg:inline">{{ site.codepen_label }}</span>
                  </a>
                  {% endif %}

                  {% if site.stackblitz_url %}
                  <a href="{{ site.stackblitz_url }}" target="_blank" class="p-1 py-0 text-sm social-link-stackblitz hover-stackblitz flex-1 basis-1/2 max-w-1/2">
                    <i class="fas fa-bolt"></i>
                    <span class="ml-0 hidden lg:inline">{{ site.stackblitz_label }}</span>
                  </a>
                  {% endif %}
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Part B -->
      <div class="flex flex-grow-1 sm:border-top-2 md:border-top-2 lg:border-top-none lg:border-left-2" style="background-color: #fffaec">
        <div class="w-full  flex justify-content-start">
          <!-- Title and Buttons -->
          <div class="w-full p-5 lg:w-40rem xl:w-45rem">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    <!-- bottom -->
    <div class="fixed left-0 bottom-0 m-2">
      <button id="playButton" class="cursor-pointer" data-tooltip="Audio from Suno AI">
        <i class="fas fa-volume-up" id="icon"></i>
      </button>
      <audio id="audioPlayer" src="{{ '/assets/audio/galactic_ino.mp3' | relative_url }}" preload="auto"></audio>
    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    
    <script>
      // Get all buttons within the nav
      const buttons = document.querySelectorAll('#nav-buttons .neo-brutal-button');

      buttons.forEach(button => {
        button.addEventListener('click', function() {
          // Remove 'active-nav' from all buttons
          buttons.forEach(btn => btn.classList.remove('active-nav'));
          
          // Remove 'orange-1' from the clicked button and add 'active-nav'
          // this.classList.remove('orange-1');
          this.classList.add('active-nav');
        });
      });
    </script>

    <script>
      // Function to play audio
      function playAudio() {
        const audio = document.getElementById('audioPlayer');
        const icon = document.getElementById('icon');
        const favicon = document.getElementById('favicon');

        audio.play();
        icon.classList.add('audioIsPlaying'); // Change icon to pause
      }

      // Function to pause audio
      function pauseAudio() {
        const audio = document.getElementById('audioPlayer');
        const icon = document.getElementById('icon');
        const favicon = document.getElementById('favicon');

        audio.pause();
        icon.classList.remove('audioIsPlaying'); // Change icon back to play
      }

      // Add event listener for play/pause button
      document.getElementById('playButton').addEventListener('click', function () {
        const audio = document.getElementById('audioPlayer');

        if (audio.paused) {
          playAudio();
        } else {
          pauseAudio();
        }
      });

      // Set initial volume
      document.getElementById('audioPlayer').volume = 0.1;

      // Reset icon and favicon when audio ends
      document.getElementById('audioPlayer').addEventListener('ended', function () {
        pauseAudio(); // Reset to pause state
      });
    </script>
  </body>
</html>
