<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="assets/images/favicon_io/favicon.ico" type="image/x-icon">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

    <!-- other meta tags and styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/neobrutalismcss@latest" /> -->
    <link rel="stylesheet" href="https://unpkg.com/primeflex@latest/primeflex.css">
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
  </head>
  <body>
    <div class="wrapper pt-5">
      <header>
        
        {% if site.logo %}
          <img class="border-3 border-round-2xl" src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <h1 class="mb-1 text-center"><a href="{{ "/" | absolute_url }}" style="font-size: 2.1rem" class="font-bold text-black-alpha-90">{{ site.title | default: site.github.repository_name }}</a></h1>

        <p class="font-medium text-xl text-black-alpha-90 text-center">{{ site.description | default: site.github.project_tagline }}</p>

        <div class="mt-4">
          <nav id="nav-buttons">
            <div class="flex flex-column">
              <a href="#about" class="neo-brutal-button p-3 active-nav nav-hover-orange">About</a>
              <a href="#skills" class="neo-brutal-button p-3 mt-2 nav-hover-orange">Skills</a>
              <a href="#professional-experience" class="neo-brutal-button p-3 mt-2 nav-hover-orange">Professional Experience</a>
              <a href="#projects" class="neo-brutal-button p-3 mt-2 nav-hover-orange">Projects</a>
              <!-- <a href="#education" class="neo-brutal-button p-3 mt-2 nav-hover-orange">Education</a> -->
            </div>
          </nav>
        </div>
        
        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        <!-- {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %} -->

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <div class="mt-8">
          <div class="flex flex-column social-links">
            {% if site.email %}
            <a href="mailto:{{ site.email }}" class="p-1 flex align-items-center bg-white hover-email">
              <i class="fas fa-envelope"></i>
              <span class="ml-2">{{ site.email_label }}</span>
            </a>
            {% endif %}
        
            {% if site.github_url %}
            <a href="{{ site.github_url }}" target="_blank" class="p-1 mt-2 bg-white hover-github">
              <i class="fab fa-github"></i>
              <span class="ml-2">{{ site.github_label }}</span>
            </a>
            {% endif %}
            
            {% if site.linkedin_url %}
            <a href="{{ site.linkedin_url }}" target="_blank" class="p-1 mt-2 bg-white hover-linkedin">
              <i class="fab fa-linkedin"></i>
              <span class="ml-2">{{ site.linkedin_label }}</span>
            </a>
            {% endif %}
            
            {% if site.codepen_url %}
            <a href="{{ site.codepen_url }}" target="_blank" class="p-1 mt-2 bg-white hover-codepen">
              <i class="fab fa-codepen"></i>
              <span class="ml-2">{{ site.codepen_label }}</span>
            </a>
            {% endif %}
          </div>
        </div>
              
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <!-- <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p> -->
      </footer>

      <div class="fixed left-0 bottom-0 m-2">
        <button id="playButton" class="cursor-pointer" data-tooltip="Audio from Suno AI">
          <i class="fas fa-volume-up" id="icon"></i>
        </button>
        <audio id="audioPlayer" src="{{ '/assets/audio/galactic_ino.mp3' | relative_url }}" preload="auto"></audio>
      </div>
    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    
    <script>
      // Get all buttons within the nav
      const buttons = document.querySelectorAll('#nav-buttons .neo-brutal-button');

      buttons.forEach(button => {
        button.addEventListener('click', function() {
          // Remove 'active-nav' from all buttons
          buttons.forEach(btn => btn.classList.remove('active-nav'));
          
          // Remove 'orange-1' from the clicked button and add 'active-nav'
          // this.classList.remove('orange-1');
          this.classList.add('active-nav');
        });
      });
    </script>

    <script>
      document.getElementById('playButton').addEventListener('click', function() {
        const audio = document.getElementById('audioPlayer');
        const icon = document.getElementById('icon');
        
        if (audio.paused) {
          audio.play();
          // icon.classList.remove('fa-volume-up');
          icon.classList.add('audioIsPlaying'); // Change icon to pause
        } else {
          audio.pause();
          // icon.classList.remove('fa-pause');
          icon.classList.remove('audioIsPlaying'); // Change icon back to volume
        }
      });
      
      document.getElementById('audioPlayer').volume = 0.1;
      
      // Reset button state when audio ends
      document.getElementById('audioPlayer').addEventListener('ended', function() {
        const icon = document.getElementById('icon');
        icon.classList.remove('audioIsPlaying'); // Ensure icon goes back to default state
      });
    </script>

  </body>
</html>
